html {
    background: #110808;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
html.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}
body {
    background: rgba(11, 8, 8, 0.97);
    height: 100%;
    width: 100%;
    padding: 0;
    position: fixed;
    margin: 0;
    overflow: hidden;

    -webkit-animation: rainbow 100s infinite;
    -moz-animation:    rainbow 100s infinite;
    -o-animation:      rainbow 100s infinite;
    animation:         rainbow 100s infinite;

    -webkit-filter: hue-rotate(0deg), invert(1);
    filter: hue-rotate(0deg);
}
header, footer {
    background: url('../img/bg.gif');
    position: fixed;
    left: 0;
    height: 10%;
    width: 100%;
    z-index: 2;
}
header {
    top: 0;
}
footer {
    bottom: 0;
}

/* Chrome, Safari, Opera */ 
@-webkit-keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50%  {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(180deg);
    }
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}

/* Standard syntax */
@keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    50%  {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(180deg);
    }
    100% {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
}