div.controls
  //- Visibility
  if status == "loading"
    button.pure-button
      i.fa.fa-spinner.fa-spin
    span.spacing
  else if status != "connected"
    button.ctrl-reconnect.pure-button.button
      i.fa.fa-plug
    span.spacing
  end

  if status == "connected"
    input.authkey(placeholder="authkey")
    span.spacing

    // Add note button
    button.ctrl-add.ctrl-add-note.needs-auth.pure-button.pure-button-primary
      i.fa.fa-plus
      span.spacing
      i.fa.fa-file-text-o
    span.spacing

    // Add graphic button
    button.ctrl-add.ctrl-add-graphic.needs-auth.pure-button.pure-button-primary
      i.fa.fa-plus
      span.spacing
      i.fa.fa-picture-o
    span.spacing

    // Edit button
    button.ctrl-edit.needs-auth.pure-button.pure-button-primary
      i.fa.fa-pencil
  end
div.draggables
