@import './mixin'
@import "purecss/pure.css"
@import "font-awesome/font-awesome.css"

body
  background-color: #E9E4D4
  font-family: serif

h2
  text-align: center
  font-size: 22px

p
  text-align: center
  font-size: 16px

div.draggable
  height: 1px
  width: 1px
  top: .4rem
  position: absolute

div.delete
  visibility: hidden

.dragging-enabled
  .draggable
    cursor: move

.editing
  .delete, .graphic, .note
    cursor: default
    opacity: .5

  .delete:hover, .graphic:hover, .note:hover
    -webkit-transition: all 0.2s ease
    -moz-transition:    all 0.2s ease
    -ms-transition:     all 0.2s ease
    -o-transition:      all 0.2s ease

    cursor: pointer
    opacity: .8

  .delete
    visibility: visible

div.controls
  background-color: #7EBEAB
  padding: .4rem
  position: fixed
  width: 100%
  z-index: 925

  input
    border: 1px solid #DBE6EC
    width: 100px

div.note
  -webkit-box-shadow: 3px 3px 1px 1px #222222;
  -moz-box-shadow:    3px 3px 1px 1px #222222;
  box-shadow:         3px 3px 1px 1px #222222;

  background-color: #FDEECD
  border: 1px solid #EAB05E
  padding: 3px
  position: absolute

  button
    font-size: 12px

div.note.being-edited
  span.contents
    display: none

button.button-secondary
  background-color: #DDAEFF
  color: #8156A7

span.spacing
  padding-left: 4px

div.delete
  background: black
  border-radius: 50%
  color: white
  font-size: 10px
  position: absolute
  top: -8px
  right: -10px
  text-align: center
  width: 16px
  height: 16px

  i
    position: relative
    top: 1px

@import './background.ignore-linguist'
