/* Essentials */

html, body {
    background-color: black;
    margin-top: 16px;
    min-width: 440px;
    overflow: hidden;
    text-align: center;
}

.game-overlay {
    position: fixed;
}

/* Grid and tiles */

#game-grid {
    display: inline-block;
}

.row {
    line-height: 0px;
}

.row > div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.wall {
    background-image: url("../images/wall.png");
}

.floor {
    background-image: url("../images/floor.png");
}

.void {}

/* Entities */

.entity {
    height: 100%;
    width: 100%;
}

.entity > div {
    position: relative;
}

.entity #Player {
    background-image: url("../images/human.png");
    width: 26px;
    height: 30px;
}

.entity #Player[data-walking="true"] {
    background-image: url("../images/human-walking.gif");
}

.entity .projectile {
    background-color: red;
    width: 4px;
    height: 4px;
}

.entity > [data-invulnerable="true"] {
    animation: blink 0.1s steps(5, start) infinite;
    -webkit-animation: blink 0.1s steps(5, start) infinite;
}

/* Animations */

@keyframes blink {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}
