/* Header bar */
.headerbar {
    width: 100%;

    background-color: #33C3F0;
    color: #F5FAF9;
    left: 0px;
    position: fixed;
    top: 0px;
    z-index: 925;
}
.headerbar > h2 {
    display: inline-block;
    padding-left: 12px;
    padding-top: 12px;
}
.headerbar button {
    background-color: #F5FAF9;
    display: inline-block;
    margin-right: 12px;
    margin-top: 20px;
    float: right;
}
.headerbar div:not([data-component]) {
    display: inline-block;
    float: right;
}

/* Product list */
.product {
    text-align: center;
    padding-bottom: 18px;
}
.product > .description {
    font-size: 80%;
    padding-top: 12px;
    text-align: center;
}
.product button {
    font-size: 9px;
    padding: 0 16px 0 16px;
}
h2 {
    text-align: center;
}

/* Shopping cart */
.subtotal {
    float: right;
}
.quantity-input {
    max-width: 60px;
}

/* Others */
.extra-space-below-headerbar {
    height: 121px;
}
[data-component] {
    display: none;
}
[data-view] {
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -o-transition:      all 0.2s ease;
}

/* Loader */
@-moz-keyframes loader-bar {
    0% {
        background: white;
    }
    10% {
        background: #33C3F0;
    }
    40% {
        background: white;
    }
}
@-webkit-keyframes loader-bar {
    0% {
        background: white;
    }
    10% {
        background: #33C3F0;
    }
    40% {
        background: white;
    }
}
@keyframes loader-bar {
    0% {
        background: white;
    }
    10% {
        background: #33C3F0;
    }
    40% {
        background: white;
    }
}
.loader {
    width: 1em;
    height: 1em;

    -moz-animation: loader-bar 1500ms 300ms infinite ease-out;
    -webkit-animation: loader-bar 1500ms 300ms infinite ease-out;
    animation: loader-bar 1500ms 300ms infinite ease-out;
    background: white;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    margin: 0 1.6em;
}
.loader:before, .loader:after {
    width: 1em;
    height: 1em;

    background: white;
    content: '♥';
    display: inline-block;
    position: absolute;
    top: 0;
}
.loader:before {
    -moz-animation: loader-bar 1500ms 150ms infinite ease-out;
    -webkit-animation: loader-bar 1500ms 150ms infinite ease-out;
    animation: loader-bar 1500ms 150ms infinite ease-out;
    left: -1.6em;
}
.loader:after {
    -moz-animation: loader-bar 1500ms 450ms infinite ease-out;
    -webkit-animation: loader-bar 1500ms 450ms infinite ease-out;
    animation: loader-bar 1500ms 450ms infinite ease-out;
    right: -1.6em;
}
