html {
    background: #00C6FF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00C6FF, #0072FF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00C6FF, #0072FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.orb {
    height: 128px;
    width: 128px;
    position: absolute;
}
.orb-radius {
    position: absolute;
    width: 34px;
    height: 128px;
    left: 46px;
    top: 0px;

    -moz-animation-name: particle-rotate;
    -moz-animation-duration: 1500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: particle-rotate;
    -webkit-animation-duration: 1500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-name: particle-rotate;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.particle {
    position: absolute;
    left: 0px;
    top: -10px;
    width: 24px;
    height: 24px;
    background: black;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    -ms-border-radius: 42px;
    -o-border-radius: 42px;
    border-radius: 42px;
}
@-moz-keyframes particle-rotate {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes particle-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }

}
@keyframes particle-rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}
@-webkit-keyframes ring-pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.8;
    }
}
@-moz-keyframes ring-pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.8;
    }
}
@keyframes ring-pulse {
    0% {
        opacity: 0.8;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.8;
    }
}
[data-component] {
    display: none;
}
